#container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
}


.button {
    display: flex;
    background-color: slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    justify-content: center;
    align-items: center;
}

#result {
    grid-column: 1/5;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items :end;
    font-size: 10em;
}

#ac {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: start;
    background-color: slategrey;
}

#divide {
    grid-column: 4/5;
    grid-row: 2/3;
}

#seven {
    grid-column: 1/2;
    grid-row: 3/4;
}

#eight {
    grid-column: 2/3;
    grid-row: 3/4;
}

#nine {
    grid-column: 3/4;
    grid-row: 3/4;
}

#multi {
    grid-column: 4/5;
    grid-row: 3/4;
}

#four {
    grid-column: 1/2;
    grid-row: 4/5;
}

#five {
    grid-column: 2/3;
    grid-row: 4/5;
}

#six {
    grid-column: 3/4;
    grid-row: 4/5;
}

#minus {
    grid-column: 4/5;
    grid-row: 4/5;
}

#one {
    grid-column: 1/2;
    grid-row: 5/6;
}

#two {
    grid-column: 2/3;
    grid-row: 5/6;
}

#three {
    grid-column: 3/4;
    grid-row: 5/6;
}

#plus {
    grid-column: 4/5;
    grid-row: 5/6;
}

#sign {
    grid-column: 1/2;
    grid-row: 6/7;
}

#zero {
    grid-column: 2/3;
    grid-row: 6/7;
}

#separator {
    grid-column: 3/4;
    grid-row: 6/7;
}

#equal {
    grid-column: 4/5;
    grid-row: 6/7;
    background-color: orange;
}





